# Python
__pycache__/
*.pyc
*.pyo

# Data cache
backend/data/*.json

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/local.properties
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store
*.log
